In [2]:
for i in 'afsan':
    print(i)

a
f
s
a
n

In [3]:
for i in ['afsan', 'sakshi','mohit']:
    print(i)

afsan
sakshi
mohit

In [5]:
for i in ['afsan', 'sakshi','mohit']:
    print(i[::-1])

nasfa
ihskas
tihom

In [8]:
#print all even numbers

for i in range(2,20,2):
    print(i)

2
4
6
8
10
12
14
16
18

In [10]:
a= [1,2,3,4,5]

for i in a:
    print(i*i)

1
4
9
16
25

In [11]:
#put b in square of a
a= [1,2,3,4,5]   
b= []
 
for i in a:
    b.append(i*i)

In [12]:
b

[1, 4, 9, 16, 25]

In [14]:
#find 1 occurence in the array
a1= [1,5,1,2,4,1,3,4,5,1,6,9]

a1.count(1)

4

In [29]:
a= ['afsan@gmail.com', 'rahul@gmal.com','harish@hotmail.com','shubham@gmail.com']
b=[]


for i in a:
    b.append(i.split('@')[0])

In [30]:
b

['afsan', 'rahul', 'harish', 'shubham']

In [32]:
#list comprehension
a= ['afsan@gmail.com', 'rahul@gmal.com','harish@hotmail.com','shubham@gmail.com']
b= [i.split('@')[0]for i in a]
b

['afsan', 'rahul', 'harish', 'shubham']

In [33]:
a= [1,2,3,4,5,6]
b= [i*i for i in a]
b

[1, 4, 9, 16, 25, 36]

In [35]:
a= [23, 55,22,11,67,78,578]

for i in a:
    print(i%2==0)

False
False
True
False
False
True
True

In [43]:
a= [23, 55,22,11,67,78,578]
b=[]
for i in a:
    if i%2==0:
        b.append(i)

In [44]:
b

[22, 78, 578]

In [46]:
a= [23, 55,22,11,67,78,578]
b=[i for i in a if i%2==0]

In [47]:
b

[22, 78, 578]

In [48]:
a= ['afsan', 1,3,4]

In [1]:
a= '1'+'2'
print= a

In [2]:
a

'12'

In [5]:
l=['a','b']
l.append(['a','b'])
l

['a', 'b', ['a', 'b']]

In [9]:
A= [1,2,3]

for i in A:
    print(i*2)

TypeError: 'str' object is not callable

In [1]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [2]:
# write a program to check whether an age is able to voting or not

a= int(input("Enter the age"))

if a>= 18:

    print("Eligible")
else:
    print("Not Eligible")

Enter the age17
Not Eligible